.avatarWrapper {
    width: 50px;
    height: 50px;
}

.pagination {
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    margin-bottom: 15px;
}

.pagination span {
    margin-right: 5px;
}

.selectedPage {
    font-weight: bold;
    cursor: pointer;
}

.usersWrapper {
    display: flex;

    justify-content: space-around;
    flex-wrap: wrap;

}

.userContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}