.nav {
    grid-area: n;
    background-color: #67f5ba7a;
    padding-top: 25px;
}

.blockMenu {
    padding-bottom: 5px;
}

.blockMenu:last-child {
    padding-bottom: 0px;
}

.item {
    padding-left: 10px;
    color: black;
    text-decoration: none;
}

/*.active {*/
/*    color: gold;*/
/*}*/