.aboutMeWrapper {
    margin: 0 auto;
}

.aboutMeDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

.ava {
    /*margin-bottom: 5px;*/
    width: 150px;
    height: 150px;
    background-color: green;
    border-radius: 50%;
}

.information {
    display: flex;
    justify-content: space-between;
}

.workDescription {
    margin-right: 25px;
}

.socialIcon {
    background-color: transparent;
    background-size: cover;
    border: none;
    box-shadow: none;
    display: inline-block;
    width: 25px;
    height: 25px;
}

.socialIcon:hover {
    opacity: 0.7;
}

.github {
    background-image: url("/src/common/social_icons/images/github_small.png");
}


.facebook {
    background-image: url("/src/common/social_icons/images/facebook.png");
}

.instagram {
    background-image: url("/src/common/social_icons/images/instagram_small.png");
}

.vk {
    background-image: url("/src/common/social_icons/images/heart.png");
}

.mainLink {
    background-image: url("/src/common/social_icons/images/linkedin.png");
}

.twitter {
    background-image: url("/src/common/social_icons/images/twitter_bird.png");
}

.website {
    background-image: url("/src/common/social_icons/images/share_this.png");
}

.youtube {
    background-image: url("/src/common/social_icons/images/youtube.png");
}