.dialogs {
    display: grid;
    grid-template-columns: 10fr 60fr;
}

.dialogItem {
    /*margin-top: 15px;*/
    margin-left: 25px;
    padding-left: 10px;
    padding-top: 10px;
    width: 300px;
    background-color: white;
    border-radius: 10px;

}

.dialog {
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100px;
    border-radius: 10px;
    text-align: center;

}

.active {
    padding: 5px 10px 5px 10px;
    border-radius: 8px;
    background-color: lightgreen;
    color: white;

}

.messages {
    display: flex;
    margin-left: 20px;
    /*margin-top: 15px;*/
    padding-left: 10px;
    padding-top: 10px;
    width: 800px;
    background-color: white;
    border-radius: 10px;

}

.message {

}

.textBlock {
    margin-left: 25px;
}